<% layout('/layouts/boilerplate') -%>

  <body>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/bloglisting">
      <input name="listing[title]" placeholder="enter title" type="text" />
      <br /><br />
      <textarea
        name="listing[content]"
        placeholder="enter content"
      ></textarea>
      <br /><br />
      <input name="listing[author]" placeholder="enter author" type="text" />
      <br /><br />
     
      <br /><br />
      <button>Add</button>
    </form>
  </body>
